body {
  padding-top: 100px;
}

.features{
padding:10px 0 0 30px;
width:750px;
}
.news_box{
float:left;
width:auto;
border-bottom:1px #CCCCCC dashed;
padding:10px 0 8px 0;
}
.news_icon{
width:30px;
height:33px;
float:left;
background:url(../images/news_icon.gif) no-repeat center;
}
.news_content{
width:700px;
float:left;
text-align:justify;
line-height:20px;
padding:0 0 0 10px;
}
.title{
width: auto;
padding:2px 0 10px 0;
font-size:17px;
color:#2e2721;
font-weight:bold;
}